* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #607D8B;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background: #fff;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 2rem;
    padding: 0 10px;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
}

nav ul li:after {
    content: '';
    width: 0;
    height: 3px;
    background: #9E9E9E;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}